

.navbar-lang-switcher {
    position: relative;
    height: inherit;

    &:hover {

        .navbar-lang-switcher__flag--wrapper {
            height: 3rem;
            opacity: 1;
        }
    }

    .navbar-lang-switcher__flag--wrapper {
        display: flex;
        align-items: center;
        height: 0;
        opacity: 0;
        transition: background $transition-duration, box-shadow .4s, height .4s, opacity $transition-duration;

        &:not(.navbar-lang-switcher__flag--wrapper--active) {
            padding: 0 1rem;

            &:hover, &:focus {
                background-color: $grey-100;
                box-shadow: $shadow-3;
            }

        }

        &.navbar-lang-switcher__flag--wrapper--active {
            height: 100%;
            opacity: 1;

            &::after {
                content: 'keyboard_arrow_down';
                font-family: 'Material Icons';
                color: $dark-secondary;
            }
        }

    }

    /* Wspólny styl wszystkich flag */
    .navbar-lang-switcher__flag {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        box-shadow: $shadow-3;
        position: relative;
        overflow: hidden; // Ukrycie wystających elementów flagi.

        /* Flaga Polski */
        &.navbar-lang-switcher__flag--polish {
            background-image: linear-gradient(to bottom, // z góry do dołu
                $flag-white 50%, // 0 - 50% - biały
                $flag-red 50% // 50% - 100% - czerwony
            );
        }

        /* Flaga Włoch */
        &.navbar-lang-switcher__flag--italy {
            background-image: linear-gradient(to right, // od lewej do prawej
                $flag-green 33%, // 0 - 33% - zielony
                $flag-white 33%, $flag-white 66%, // 33 - 66% - biały
                $flag-red 66% // 66% - 100% - czerwony
            );
        }

        /* Flaga Grecji */
        &.navbar-lang-switcher__flag--greece {
            background-image: linear-gradient(to bottom,
                $flag-blue 11%, // 0 - 11% niebieski
                $flag-white 11%, $flag-white 22%, // 11% - 22% biały
                $flag-blue 22%, $flag-blue 33%,
                $flag-white 33%, $flag-white 44%,
                $flag-blue 44%, $flag-blue 55%,
                $flag-white 55%, $flag-white 66%,
                $flag-blue 66%, $flag-blue 77%,
                $flag-white 77%, $flag-white 88%,
                $flag-blue 88%
            );

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                height: 50%;
                background-image:
                    linear-gradient(to bottom, // ten gradient musi być pierwszy, aby przykrył drugi gradient
                            transparent 40%,
                            $flag-white 40%, $flag-white 60%,
                            transparent 60%
                    ),
                    linear-gradient(to right,
                        $flag-blue 40%,
                        $flag-white 40%, $flag-white 60%,
                        $flag-blue 60%
                    );
            }

        }

        /* Flaga Czech */
        &.navbar-lang-switcher__flag--czech-republic {
            background-image: linear-gradient(to bottom,
                $flag-white 50%,
                $flag-red 50%
            );

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                height: 100%;
                background: $flag-blue;
                clip-path: polygon(0 0, 100% 50%, 0 100%);
                // https://bennettfeely.com/clippy/
            }

        }

        /* Flaga Seszeli */
        &.navbar-lang-switcher__flag--seychelles {
            background-image: linear-gradient(115deg, $flag-blue 0, $flag-blue 28%, transparent 30%), // 2% Różnicy, aby zapobiec poszarpanym krawędziom.
            linear-gradient(130deg, $flag-yellow 0, $flag-yellow 43%, transparent 45%),
            linear-gradient(145deg, $flag-red 0, $flag-red 58%, transparent 60%),
            linear-gradient(160deg, $flag-white 0, $flag-white 73%, transparent 75%),
            linear-gradient(172deg, $flag-green 0, $flag-green 90%);
        }

        /* Flaga Aruby */
        //&.navbar-lang-switcher__flag--aruba {
        //    background-image: linear-gradient(top,
        //        $flag-blue 67%,
        //        $flag-yellow 67%, $flag-yellow 72%,
        //        $flag-blue 72%, $flag-blue 77%,
        //        $flag-yellow 77%, $flag-yellow 82%,
        //        $flag-blue 82%
        //    );
        //
        //    &::after {
        //        content: 'star';
        //        font-family: 'Material Icons';
        //        position: absolute;
        //        left: 30%;
        //        top: 30%;
        //        color: white;
        //
        //    }
        //
        //}

        /* Flaga Grenadyny */
        &.navbar-lang-switcher__flag--grenadines {
            background-image: linear-gradient(to right,
                $flag-blue 25%,
                $flag-yellow 25%, $flag-yellow 75%,
                $flag-green 75%
            );

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: calc(50% + .3rem);
                transform: translate(-50%, -50%) scaleY(1.75) rotate(45deg); // Kolejność ma znaczenie!
                width: .2rem;
                height: .2rem;
                background: $flag-green;
                box-shadow: -.3rem 0 0 $flag-green, 0 -.3rem 0 $flag-green;
            }

        }

        /* Flaga Malediwów */
        &.navbar-lang-switcher__flag--maldives {
            background-color: $flag-green;
            background-image:
                linear-gradient(to right, // Najpierw czerwone gradienty, aby przykryły zielone kółko tworzące półksiężyc
                        $flag-red 16%,
                        transparent 16%, transparent 84%,
                        $flag-red 84%
                ),
                linear-gradient(to bottom,
                        $flag-red 16%,
                        transparent 16%, transparent 84%,
                        $flag-red 84%
                ),
                radial-gradient(circle at calc(50% + .3rem), $flag-green .35rem, transparent .4rem), // .05rem więcej, aby zapobiec poszarpanym krawędziom.
                radial-gradient(circle at calc(50% + .1rem), $flag-white .35rem, transparent .4rem);
        }

        /* Flaga Stanów Zjedoczonych */
        &.navbar-lang-switcher__flag--united-states {
            //background-image: linear-gradient(top,
            //    $flag-red 8%,
            //    $flag-white 8%, $flag-white 16%,
            //    $flag-red 16%, $flag-red 24%,
            //    $flag-white 24%, $flag-white 32%,
            //    $flag-red 32%, $flag-red 40%,
            //    $flag-white 40%, $flag-white 48%,
            //    $flag-red 48%, $flag-red 56%,
            //    $flag-white 56%, $flag-white 64%,
            //    $flag-red 64%, $flag-red 72%,
            //    $flag-white 72%, $flag-white 80%,
            //    $flag-red 80%, $flag-red 88%,
            //    $flag-white 88%, $flag-white 92%,
            //    $flag-red 92%
            //);
            background-image: linear-gradient(to bottom,
                    $flag-red 11%,
                    $flag-white 11%, $flag-white 22%,
                    $flag-red 22%, $flag-red 33%,
                    $flag-white 33%, $flag-white 44%,
                    $flag-red 44%, $flag-red 55%,
                    $flag-white 55%, $flag-white 66%,
                    $flag-red 66%, $flag-red 77%,
                    $flag-white 77%, $flag-white 88%,
                    $flag-red 88%
            );

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 70%;
                height: 50%;
                background: $flag-blue;
            }

            //&::after {
            //    content: '\2605';
            //    position: absolute;
            //    top: .05rem;
            //    left: -.25rem;
            //    font-size: .1rem;
            //    color: $flag-white;
            //    text-shadow:
            //        .30rem 0 0 $flag-white, .55rem 0 0 $flag-white, .8rem 0 0 $flag-white, 1.05rem 0 0 $flag-white, 1.3rem 0 0 $flag-white, 1.55rem 0 0 $flag-white,
            //        .43rem .075rem 0 $flag-white, .68rem .075rem 0 $flag-white, .93rem .075rem 0 $flag-white, 1.18rem .075rem 0 $flag-white, 1.43rem 0.075rem 0 $flag-white,
            //        .30rem .15rem 0 $flag-white, .55rem .15rem 0 $flag-white, .8rem .15rem 0 $flag-white, 1.05rem .15rem 0 $flag-white, 1.3rem .15rem 0 $flag-white, 1.55rem .15rem 0 $flag-white,
            //        .43rem .225rem 0 $flag-white, .68rem .225rem 0 $flag-white, .93rem .225rem 0 $flag-white, 1.18rem .225rem 0 $flag-white, 1.43rem .225rem 0 $flag-white,
            //        .30rem .3rem 0 $flag-white, .55rem .3rem 0 $flag-white, .8rem .3rem 0 $flag-white, 1.05rem .3rem 0 $flag-white, 1.3rem .3rem 0 $flag-white, 1.55rem .3rem 0 $flag-white,
            //        .43rem .375rem 0 $flag-white, .68rem .375rem 0 $flag-white, .93rem .375rem 0 $flag-white, 1.18rem .375rem 0 $flag-white, 1.43rem 0.375rem 0 $flag-white,
            //        .30rem .45rem 0 $flag-white, .55rem .45rem 0 $flag-white, .8rem .45rem 0 $flag-white, 1.05rem .45rem 0 $flag-white, 1.3rem .45rem 0 $flag-white, 1.55rem .45rem 0 $flag-white,
            //        .43rem .525rem 0 $flag-white, .68rem .525rem 0 $flag-white, .93rem .525rem 0 $flag-white, 1.18rem .525rem 0 $flag-white, 1.43rem 0.525rem 0 $flag-white,
            //        .30rem .6rem 0 $flag-white, .55rem .6rem 0 $flag-white, .8rem .6rem 0 $flag-white, 1.05rem .6rem 0 $flag-white, 1.3rem .6rem 0 $flag-white, 1.55rem .6rem 0 $flag-white,
            //}

            &::after {
                content: '\2605';
                position: absolute;
                top: 0;
                left: -.45rem;
                font-size: .275rem;
                color: $flag-white;
                text-shadow:
                    .45rem 0 0 $flag-white, .9rem 0 0 $flag-white, 1.35rem 0 0 $flag-white,
                    .675rem .225rem 0 $flag-white, 1.125rem .225rem 0 $flag-white,
                    .45rem .45rem 0 $flag-white, .9rem .45rem 0 $flag-white, 1.35rem .45rem 0 $flag-white,
                    .675rem .675rem 0 $flag-white, 1.125rem .675rem 0 $flag-white

            }

        }

    }

    .lang_switcher__country-name {
        margin-left: .5rem;
        white-space: nowrap;
    }

    .navbar-lang-switcher__flag-list {
        position: absolute;
        overflow: hidden; // Rozwiązuje problem skaczącej listy. Pomimo że lista jest ukryta, ten element nie i pozostaje mały kawałek obszaru aktywnego.
        left: 0;
        top: 100%;
        margin-left: -1em; // Wyrównanie flag na ukryrej liście względem aktywnej.
        box-shadow: $shadow-3;
        transition: height .4s;
        background: rgba($white, .9);
    }

}