$candidates-number: 6;
$candidates-percentage: 100% / $candidates-number;

@keyframes sliding {

    0% { transform: translateX(0); }
    100% { transform: translateX(-$candidates-percentage); }

}

.slider {

    .slider__mask {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 1rem 0; // Aby nie ścinało cienia

        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 2rem;
            height: 100%;
            z-index: 1;
        }

        &::before {
            left: 0;
            background-image: linear-gradient(left, $grey-50, transparent 50%);
        }

        &::after {
            right: 0;
            background-image: linear-gradient(left, transparent 50%, $grey-50);
        }

    }

    .slider__wrapper {
        width: calc(25% * #{$candidates-number});
        left: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        animation: sliding 20s infinite alternate-reverse linear;
    }

    .slider__card {
        width: calc(100% / #{$candidates-number} - 2rem);
        text-align: center;
        box-shadow: $shadow-2;
        margin: 0 1rem;
        background: $white;
    }

    .slider__info-wrapper {
        padding: 1rem;
        margin: .5rem 0;
    }

    .slider__avatar {
        border-radius: 50%;
        box-shadow: $shadow-3;
        max-width: 100%;
    }

    .slider__name {
        margin-top: 1.5rem;
        color: $dark-disabled;
    }

    .slider__position {
        font-size: $font-size-lg;
        display: block;
        margin-top: .5rem;
    }

    .slider__icons-wrapper {
        display: flex;
        flex-direction: row;
    }

    .slider__icon-wrapper {
        width: calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        position: relative;

        &.slider__icon-wrapper--favourite {

        }

    }

    .slider__star-checkbox {
        display: none;

        &:checked + .slider__star-icon {

            &::before { opacity: 0; }
            &::after { opacity: 1; }

        }

    }

    .slider__star-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:hover, &:focus { color: $secondary; }

        &::before, &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Material Icons';
            transition: $transition-duration;
            font-size: $font-size-xl;
        }

        &:before {
            opacity: 1;
            content: 'star_border';
        }

        &:after {
            opacity: 0;
            content: 'star';
            color: $secondary;
        }

    }

}

@media (max-width: 75rem) {

    .slider {

        .slider__wrapper { width: calc(100% / 3 * #{$candidates-number}); }

    }

}

@media (max-width: 62rem) {

    .slider {

        .slider__wrapper { width: calc(50% * #{$candidates-number}); }

    }

}

@media (max-width: 30rem) {

    .slider {

        .slider__wrapper { width: calc(100% * #{$candidates-number}); }

        .slider__info-wrapper { padding: 0 1rem; }

    }

}