.sidebar-toggler__checkbox {
    display: none;

    &:checked {

        + .sidebar {
            width: 3.5rem;

            .sidebar-toggler {
                width: 100%;
                height: 3rem;
            }

            .sidebar-toggler__icon {
                &::before { transform: rotate(30deg); }
                &::after { transform: rotate(-30deg); }
            }

            .sidebar-logo__wrapper {
                height: 0;
                overflow: hidden;
                // Bez transition, ponieważ efekt nieznaczcy.
            }

            .sidebar-user {
                padding: 0 .25rem;
            }

            .sidebar-user__avatar-wrapper {
                width: 3rem;
                height: 3rem;
            }

            .sidebar-user__name {
                font-size: $font-size-xxs;
            }

            .sidebar-user__status {
                font-size: $font-size-xxs;
            }

            .sidebar-nav__header {
                // Bez transition, ponieważ efekt nieznaczcy.
                &::before {
                    content: attr(data-toggled-shortcut);
                    margin-right: 2rem;
                    text-transform: uppercase;
                }

            }

            .sidebar-nav__item {
                z-index: 2;
                overflow: hidden;
                width: 3.5rem;

                &:hover {
                    background: $grey-50;
                    width: 10rem;
                    box-shadow: $shadow-2; // Bez transition, ponieważ efekt nieznaczcy.
                }

            }

            .sidebar-nav__notification {
                right: .25rem;
                top: .25rem;
                padding: .1rem .25rem;
                font-size: .5rem;
                // Bez transition, ponieważ efekt nieznaczcy.
            }

        }

        ~ .app__page {
            width: calc(100% - 3.5rem);
        }

    }



}

.sidebar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: width $transition-duration, height $transition-duration;

    &:hover .sidebar-toggler__icon {
        //transform: translateX(-.5rem); // Do modyfikacji. przesuwa sie po skosie przez rotate

        &::before, &::after { background: $primary; } // Nie ma transition

    }

    .sidebar-toggler__icon {
        width: .75rem;
        height: .5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before, &::after {
            content: '';
            position: absolute;
            width: .75rem;
            height: .15rem;
            border-radius: 1rem;
            background: $grey-300;
            transition: transform .4s, background $transition-duration;
        }

        &::before {
            top: 0;
            transform: rotate(-30deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(30deg);
        }

    }

}