.sidebar {
    width: 12rem;
    background: $white;
    position: relative; // Do sidebar togglera, który jest na absolute
    transition: width $transition-duration; // Do togglera.

    .sidebar__section {
        display: flex;
        justify-content: center;
        padding: .5rem 0;
    }

}